<% layout('layouts/boilerplate')%>


<div class="login-background">

<div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
<h1>Login</h1>
<form action="/login" method="POST" class="needs-validation" novalidate>
    <div class="mb-3">
        <label class="form-label" for="username">Username</label>
        <input class="form-control input-font" type="text" id="username" name="username" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input class="form-control input-font" type="password" id="password" name="password" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <button class="button">Login</button>
    <p class="mt-3">No account yet? <a href="/register">Register</a></p>
</form>
</div>

</div>