

<nav class="navbar sticky-top navbar-expand-lg navbar-dark" id="navbar" >
    <div class="container-fluid">
        <div class="logo-box">
            <img src="/images/broken-house.png" alt="logo" class="logo" style="width:2rem; margin-right: 1.5rem"/>
          </div>
        <a class="navbar-brand" href="#">un/forgotten places</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/">home</a>
                <a class="nav-link" href="/places">places</a>
                <a class="nav-link" href="/places/new">add a new place</a>
            </div>

            <div class="navbar-nav ml-auto">
                <% if (!user) {%>
                
                <a class="nav-link" href="/login">login</a>
                <a class="nav-link" href="/register">register</a>
                <% } else {%>
                <a class="nav-link" href="/logout">logout</a>
                <%}%>
            </div>
        </div>
    </div>
</nav>