<% layout('layouts/boilerplate')%>

<a class="link-to-back" href="/places">&larr; back to all</a>
<div class="row">
    <h1 class="text-center">Add a new location</h1>

    <div class="col-6 offset-3">
    <form action="/places" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label" for="title">Title</label>
            <input class="form-control" type="text" id="title" name="title" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="location">Location</label>
            <input class="form-control" type="text" id="location" name="location" required>
        </div>

        <div class="mb-3">
            <label class="form-label" for="description">Description</label>
            <input class="form-control" type="text" id="description" name="description" required>
        </div>
        <div class="mb-3">
        <label for="image"> Chose images </label>    
        <input type="file" name="image" id="image" multiple>
        
           
       </div>
        <div class="mb-3">
        <button class="btn btn-success" type="submit">Add a place</button>
        </div>
    </form>

    
    </div>
</div>

