<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Catamaran:wght@100&family=Open+Sans:wght@300&family=Raleway:wght@100;200&family=Zen+Kaku+Gothic+New:wght@300&family=Zen+Kurenaido&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/home-page.css" />
    <link rel="stylesheet" href="/stylesheets/icon-font.css">
    <link rel="stylesheet" href="/stylesheets/sass/sass-styles.scss">
  </head>
  <body>
    <header class="header">
      <div class="logo-box">
        <img src="/images/logo-white.png" alt="logo" class="logo" />
      </div>

      <div class="text-box">
        <h1 class="heading-primary">
          <span class="heading-primary main">un/forgotten places</span>
          <span class="heading-primary small">come to explore them</span>
        </h1>
        <a href="/#" class="btn btn-white">Discover</a>
      </div>
    </header>
    <section class="section-about">
      <div class="u-center-text u-margin-bottom-big">
        <h1 class="heading-secondary">
          Exciting tours for adventurous people
        </h1>
      </div>

      <div class="row">
        <div class="col-1-of-2">
          <h3 class="heading-terciary u-margin-bottom-small">
            You are going to fall in love with nature
          </h3>
          <p class="paragraph">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro
            atque libero deserunt placeat sapiente aut consectetur eligendi
            rerum voluptate eos, incidunt nostrum saepe, quia facere ipsa
            aperiam debitis voluptates? Corporis.
          </p>
          <a href="#" class="btn-text">Learn more &rarr;</a>
        </div>

        <div class="col-1-of-2">
            
            <div class="composition">
              <img src="/images/pic5.jfif" alt="photo1" class="composition__photo composition__photo--p1">
              <img src="/images/pic6.jfif" alt="photo2" class="composition__photo composition__photo--p2">
              <img src="/images/pic7.jfif" alt="photo3" class="composition__photo composition__photo--p3">
          </div>
        </div>
      </div>
    </section>

  </body>
</html>
