@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100&family=Montserrat:wght@100&family=Open+Sans:wght@300&family=Raleway:wght@100;200&family=Zen+Kaku+Gothic+New:wght@300&family=Zen+Kurenaido&display=swap");

/* .background-dark {
    background-color: #F4F4F4;
} */


html {
    font-size: 16px;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

}

#navbar {
    background-image: linear-gradient(
      rgba(53, 53, 53, 0.8),
      rgba(18, 69, 89, 0.8)
    ),
    url("/images/pic1.jpg");
}


.link-to-back {
    color: black;
    position:fixed;
    left: 20px; 
    top: 70px;
    text-decoration: none;
}

.flash-center {
    text-align: center;
}

.button {
    text-decoration: none;
  padding: 0.3rem 0.8rem;
  display: inline-block;
  border-radius: 2px;
  transition: all 0.2s;
  font-size: 1rem;
  font-weight: 400;
  border: 1px solid #1f7699;
  background-color: #1f7699;
  color: white;
}

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 0.2rem 0.5rem;
  color: white;
}

.button:active {
  transform: translate(-1px);
  border: none;
  color:white;
}

.input-font {
    font-weight: 600;
    
}

.centered-h1 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: 500;
    
}

